@media (max-width: 768px) { 
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .mobile-container {
    max-width: 480px;
    margin: auto;
    height: 100px;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .home-container{
    display: none;
  }

  .navbar-logo-title{
    display:none;
}
.icon{
    margin-top: 5px;
}

  .mobile-container{
    display: block;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
    padding-left: 150px;
    background-color: #eeeeee;
  }

  .active{
    font-size: 25px;
  }
  
  .topnav a {
    color: black;
    padding: 20px 36px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    color: white;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.home-logo {
    font-size: 20px;
}

.navbar {
    display: none;
}

.navbar li {
    margin-right: 20px;
}

.header {
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 36px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container > div {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
}

.product-image1,
.product-image2,
.product-image3 {
    width: 100%;
    height: auto;
}

.product-post-container {
    text-align: center;
}

.product-text {
    font-size: 16px;
}

footer {
    background-color: ffffff;
    padding: 20px;
    text-align: center;
}

.foother-container1,
.foother-container2 {
    margin-bottom: 20px;
}

.footer-text1 {
    font-weight: bold;
    font-size: 20px;
}

.footer-text1,
.footer-text3,
.footer-text4,
.footer-text5,
.footer-text6,
.footer-text7,
.footer-text8,
.footer-text9,
.footer-text10,
.footer-text11 {
    display: block;
    margin-bottom: 10px;
}
}