@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    height: 100px;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
  }

  .home-container {
    display: none;
  }

  .navbar-logo-title {
    display: none;
  }

  .icon {
    margin-top: 5px;
  }

  .mobile-container {
    display: block;
  }

  .topnav {

    overflow: hidden;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
    padding-left: 100px;
    background-color: #eeeeee;
    margin-right: 20px;
  }

  .active {
    font-size: 15px;
    font-weight: bold;
  }


  .topnav a {
    color: black;
    padding-right: 50px;
    font-size: 22px;
    /* padding-top: 20px; */
    text-decoration: none;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;

  }

  .active {
    color: white;
    margin-left: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .home-logo {
    font-size: 20px;
  }

  .navbar {
    display: none;
  }

  .navbar li {
    margin-right: 20px;
  }

  .header {
    text-align: center;
    padding: 20px;
  }

  .header h1 {
    font-size: 36px;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-container>div {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
  }

  .product-image1,
  .product-image2,
  .product-image3 {
    width: 100%;
    height: auto;
  }

  .product-post-container {
    text-align: center;
  }

  .product-text {
    font-size: 16px;
  }

  .contact-form-content {
    width: 90%;
    margin: 20% auto;
  }

  .contact-form-content h2 {
    font-size: 20px;
  }

  .contact-form-content button {
    font-size: 16px;
    width: 100px;
    height: 40px;
  }

  forma,
  button {

    background-color: #a60200;
    color: white;
  }

  footer {
    background-color: ffffff;
    padding: 20px;
    text-align: center;
  }

  .foother-container1,
  .foother-container2 {
    margin-bottom: 20px;
  }

  .footer-text1 {
    font-weight: bold;
    font-size: 20px;
  }

  .footer-text1,
  .footer-text3,
  .footer-text4,
  .footer-text5,
  .footer-text6,
  .footer-text7,
  .footer-text8,
  .footer-text9,
  .footer-text10,
  .footer-text11 {
    display: block;
    margin-bottom: 10px;
  }
}

.copyright {
  margin-left: 1px;
}

.foother-container2 {
  margin-top: 18px;
}